$color-teal: #1abc9c;
$color-teal-dark: #16a085;
$color-green: #27ae60;
$color-green-dark: #2ecc71;
$color-blue: #3498db;
$color-blue-dark: #2980b9;
$color-purple: #9b59b6;
$color-purple-dark: #8e44ad;
$color-navy: #34495e;
$color-navy-dark: #2c3e50;
$color-yellow: #f1c40f;
$color-yellow-dark: #f39c12;
$color-orange: #e67e22;
$color-orange-dark: #d35400;
$color-red: #e74c3c;
$color-red-dark: #c0392b;
$color-grey: #ecf0f1;
$color-grey-dark: #bdc3c7;
$color-silver: #95a5a6;
$color-silver-dark: #7f8c8d;

$color-white: #fff;
$color-black: #000;

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@400;700&display=swap');

$font-title: 'Bangers', cursive;
$font-body: 'Open Sans', sans-serif;
