{
  "rules": {
    "max-nesting-depth": 5,
    "selector-max-compound-selectors": 5
  },
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines"
  ]
}